<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VBReniec.My.MySettings.ReniecConnectionString" connectionString="Data Source=PC-ZC\SQLEXPRESS;Initial Catalog=Reniec;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSReniecSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WSReniecSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44307/WSReniec.asmx" binding="basicHttpBinding"
                bindingConfiguration="WSReniecSoap" contract="ServiceReference1.WSReniecSoap"
                name="WSReniecSoap" />
        </client>
    </system.serviceModel>
</configuration>